.rounded-circle{
    background-color: crimson !important;
    border-radius: 50%;
    color: white !important;
    cursor: pointer;
}
.btn-link{
    text-decoration: none !important;
}
.list-group-item{
    cursor: pointer;
}
.list-group-item:hover{
    cursor: pointer;
    background-color: #0275d8;
}